@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-color: #6d6d6d #242424 ;
  scrollbar-width: thin;
}
html{
  overflow-y: scroll;
}